<main class="mx-auto my-4 max-w-7xl">
  <h1 class="p-4 text-2xl font-bold leading-10">Latest news</h1>

  <section *ngIf="item" class="fixed inset-0 z-10 overflow-y-auto">
    <div class="fixed inset-0 bg-gray-200 opacity-90"></div>

    <section class="relative flex items-center justify-center h-screen max-w-4xl mx-auto">
      <article class="p-4 bg-white border rounded-lg">
        <header class="flex items-center justify-between">
          <a href="{{ item.url }}">
            <h1 class="text-lg font-bold leading-6">{{ item.title }}</h1>
          </a>
          <button (click)="closeDetail()" class="ml-2">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          </button>
        </header>

        <a href="{{ item.url }}">
          <img
            class="w-full my-2 rounded"
            src="https://picsum.photos/400?random={{ item.subtitle }}" alt="{{ item.title }}"
          >
        </a>

        <a href="{{ item.url }}" class="text-sm opacity-50">{{ item.subtitle }}</a>
      </article>
    </section>
  </section>

  <section class="container flex flex-wrap justify-center">
    <app-list-item
      *ngFor="let item of listItems | async"
      [item]="item"
      (showDetail)="showDetail($event)"
      class="p-4 mb-1 md:mb-2 lg:w-1/4 md:w-1/3 sm:w-1/2"
    ></app-list-item>
  </section>
</main>
